<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <title>Vue.js and SendGrid</title>
    <style>
        .input {width: 600px;}
    </style>
</head>

<body>
    <div id="app" style="margin-top: 50px;">
        <div class="ui container">
            <div class="ui fluid input">
                <!-- API Keyの入力テキスト -->
                <input type="password" v-model="apikey" placeholder="API Key">

                <!-- SendGrid Web APIを呼び出すボタン -->
                <button class="ui button" v-on:click="call_bounces_api()">Call Bounces API</button>
            </div>
            
            <!-- Web APIの呼び出し結果を表示するテーブル -->
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="result in results">
                        <td>{{ result.email }}</td>
                        <td class="negative">{{ result.reason }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>